html{
  min-height: 100%;
}

a {
  font-weight: 200;
  text-decoration: inherit;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
}
a:hover {
  color: #ff0000;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Bangers", cursive !important;
  
    
}
/* Navbar.css */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgb(0, 0, 0);
  width: 100%;
  box-sizing: border-box;
}
.navbar-logo {
  width: 100px;
  height: 50px;
  display: flex;
}
.navbar-links {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-grow: 1;
  margin-right: auto;
}
.navbar-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-right: 3px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 18px;
}
.navbar-link:hover, .navbar-link:focus {
  background-color: rgb(255, 255, 255);
  color: #020202;
  cursor: pointer;
}
/* _________________________________________________________ */
/* HOMEPAGE DIVS */
.main {
  background-size:cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 50px;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.homepage-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  font-size: 45px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.content p {
  margin-top: 0;
  background-color: rgb(0, 0, 0);
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: rgb(255, 255, 255);
  height: 100px;
  font-size: 90px;
}
.homepage-links {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 100%;
  height: 90px; /* Updated height */
  justify-content: center;
  background-color: rgb(0, 0, 0);
  z-index: 2;
  align-items: center;
  padding-right: 100px;
}
.mute-button-container {
  margin-left: -200px;
  margin-right: 0px;
}
.mute-button {
  width: 80px;
  height: 30px;
  background-color: white;
  color: rgb(0, 0, 0);
  font-family: "Bangers", cursive !important;
  font-size: 25px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.mute-button:hover {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border: 1px solid #ffffff;
  cursor: pointer;
}
/* Additional styling to make sure the links and buttons inside .homepage-links are centered */
.homepage-links > div:first-child {
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage-buttons {
  width: 150px;
  height: 40px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: "Bangers", cursive !important;
  font-size: 25px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.homepage-buttons:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
  cursor: pointer;
}
/* _________________________________________________________ */
.main-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 100%;
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}
.character-div {
  border: 2px solid black;
  position: relative;
  width: 300px;
  height: 400px;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.character-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: transform 0.3s;
}
.character-div:hover img {
  transform: scale(1.1);
}
.character-div p {
  border-top: 2px solid black;
  position: absolute;
  bottom: 0;
  z-index: 1;
  color: #000000;
  background-color: rgb(255, 255, 255);
  font-weight: 500;
  width: 100%;
  height: 13%;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  transition: color 0.3s; /* Add transition for smooth color change */
}
.character-div:hover p {
  color: rgb(255, 255, 255);
  background-color: #000000;
}

.no-items {
  margin-left: 20px;
  margin-right: 20px;
}

.footer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  height: 50px;
  
}
.text-links-container {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 10px;
  font-family: monospace;
}
.navigation-links a {
  margin-right: 30px;
}
.details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #000000e6; /* Black background */
  color: #ffffff; /* White text for contrast */
  border: 3px solid #030303; /* Bold red border, typical for Marvel */
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 0px 10px #000000; /* Red glow for dramatic effect */
}
.details-div, .comic-details-div, .series-details-div {
  padding: 10px;
  margin: 10px;
  flex: 1;
  min-width: 300px; /* Minimum width for responsiveness */

}

.details-div img {
  max-width: 100%;
  height: auto;
  border: 2px solid #ffffff; /* White border around the image */
}
.details-div h1, .comic-details-div h2, .series-details-div h2 {
  font-family: 'Bangers', cursive;
  text-transform: uppercase;
  color: #ffffff; /* Bold red color for titles */
  margin-bottom: 10px;
  font-size: 30px;
}
.character-comics-list a, .series-details-div ul a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  font-size: 14px;
}
.character-comics-list a:hover, .series-details-div ul a:hover {
  color: #ff0000; /* Red color on hover for links */
}

.no-items {
  font-style: italic;
  display: flex;
  justify-content: center;
}

.details-container p {
  font-family: monospace;
}
.details-div {
  width: 500px;
  border-right: 4px solid #fcfcfc;
  padding-right: 30px;
}
.details-container img {
  width: 300px;
  height: 300px;
  margin-right: 20px;
}
.comic-details-div {
  border-right: 4px solid #ffffff;
}
.comic-details-div h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.series-details-div h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.loading-overlay img {
  width: 500px;
  height: 500px;
}
.App {
  background-color: #FFFFFF;

}
.input-search {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.input-box {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  width: 30%;
  height: 20px;
  border: 2px solid rgb(0, 0, 0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-style: italic;
  transform: skew(-15deg);
  margin-left: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.buttons-box {
  width: 150px;
  height: 40px;
  background-color: #000000;
  color: #FFFFFF;
  margin: 10px;
  border: none;
  font-family: "Bangers", cursive !important;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.3s;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
.buttons-box:hover {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  color: #000000;
  transform: scale(1.1);
}
.search-title {
  font-size: 18px;
}

.suggestion-page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  text-shadow: 0px 0px 32px rgba(255,255,255,0.6);
  border-bottom: 15px solid rgb(0, 0, 0);
  font-size: 15vh;
  margin: 0;
}

.header-idea {
  background:url("public/erik-mclean-8SeJUmfahu0-unsplash.jpg");
  height: 500px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 10px solid black;
  flex-direction: column;
}

.header-idea p {
  font-size: 30px;
  background-color: #FFFFFF;
  padding: 0 20px;
}

.suggestion-main {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-around; /* Adjust for space between form and comments */
  align-items: center; /* Align items to the start of the container */
  padding: 20px; /* Add padding for spacing */
  
}

/* COMMENT BOX  */

.comment-box {
  background-color: #fff; 
  border: 2px solid #000; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
  padding: 15px;
  margin-bottom: 20px; 
  font-family: 'Bangers', cursive; 
  color: #000000; 
}

.comment-box .buttons-box-container button {
  width: 50px; 
  height: 40px;
  margin: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #fff; 
  cursor: pointer;
}

.comment-box .buttons-box-container button:hover {
  background-color: #ECA800;
  color: #000000;
}

.comment-box h2 {
  color: #000000; 
  text-transform: uppercase; 
  border-bottom: 1px solid #010101; 
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.comment-box p {
  text-align: left; 
  line-height: 1.5;
}

.buttons-box-container {
  display: flex;
  }
  /* ____________________________________________________ */

.form-container {
  width: 40vh;
  height: 100%;
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #000000; 
  color: #ffffff; 
  border: 2px solid #000000;
  box-shadow: 0px 0px 10px #000000; 
  font-family: 'Bangers', cursive; 
  margin-bottom: 10px;
  margin-top: 35px;
  padding: 40px;
}
.form-container input, .form-container select, .form-container textarea {
  background-color: #FFFFFF; /* White background for the fields */
  color: #000000; /* Black text */
  border: 1px solid #000000; /* Black border for each field */
  padding: 10px;
  margin: 10px 0; /* Spacing between fields */
  width: 100%; /* Making sure it doesn't overflow the container */
  box-sizing: border-box;
  font-family: 'Arial', sans-serif; /* Clear, readable font for input */
}
.form-container button {
  background-color: #ff0000; /* Black button */
  color: #ffffff; /* White text */
  border: none;
  padding: 10px 20px;
  text-transform: uppercase; /* Makes the button text uppercase */
  font-weight: bold;
  cursor: pointer; /* Changes the cursor to indicate it's clickable */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}
.form-container button:hover {
  background-color: #ffffff; /* Red color on hover */
  color: #000000;
}
/* Adding some custom style for labels if needed */
.form-container label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}
/* Ensure the elements within the form are properly aligned */
.form-container * {
  box-sizing: border-box;
}
.form-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  list-style: none;
  font-family: monospace;
  padding-left: 20px;
  padding-right: 20px;
}
.footer-anchors {
  color: rgb(255, 255, 255);
}
.footer-anchors:hover {
  color: #ff0000;
}


.footer-div {
  position:absolute;
  width:100%
}

.grid-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 20px;
  margin-top: 40px;
}

.marvel-button {
  background-color: #f90008; /* Bold red, typical for Marvel */
  color: #000000; /* White text for contrast */
  border: 2px solid #000000; /* Black border for a comic book feel */
  font-family: 'Bangers', cursive; /* A font that resembles comic book lettering */
  font-size: 18px; /* A larger font size for impact */
  padding: 10px 20px; /* Adequate padding for button size */
  text-transform: uppercase; /* Makes the button text uppercase */
  cursor: pointer; /* Changes the cursor to indicate it's clickable */
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth transitions for interactions */
  box-shadow: 3px 3px 0px #000000; /* Shadow for a 3D effect */
  margin: 5px; /* Margin around buttons */
}

.marvel-button:hover, .marvel-button:focus {
  transform: translateY(-2px); /* Slight move up on hover/focus */
  box-shadow: 5px 5px 0px #000000; /* Larger shadow on hover/focus */
  background-color: #ff0000;
  color: #000000;
}

.marvel-button:active {
  transform: translateY(1px); 
  box-shadow: 1px 1px 0px #000000; 
}
.main, .suggestion-main {
  padding-bottom: 100px; 
}

.comment-link {
  color: #000;
}