a {
  font-weight: 200;
  text-decoration: inherit;
  padding-left: 40px;
}
a:hover {
  color: #ff0000;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Bangers", cursive !important;
}

#logo{
  width: 40%;
}

/* Navbar.css */
.navbar {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 50px;
  background-color: rgb(0, 0, 0);
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

.navbar-logo {
  width: 100px;
  height: 50px;
}

.navbar-links {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-grow: 1; 
  margin-right: auto; 
}

.navbar-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-right: 3px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 18px;
}

.navbar-link:hover, .navbar-link:focus {
  background-color: rgb(255, 255, 255);
  color: #020202;
  cursor: pointer;
}
/* _________________________________________________________ */

/* HOMEPAGE DIVS */
.main {
  background-size:cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.homepage-video {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  color: #ffffff;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  font-size: 50px;
}

/* _________________________________________________________ */

.main-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 100%;
  padding: 10px;
  text-align: center;
  justify-content: center;
  margin: 4px;
  align-items: center;
}

.character-div {
  border: 2px solid black;
  position: relative;
  width: 300px;
  height: 400px;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.character-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: transform 0.3s; /* Add transition for smooth scaling */
}

.character-div:hover img {
  transform: scale(1.1); /* Scale the image on hover */
}

.character-div p {
  border-top: 2px solid black;
  position: absolute;
  bottom: 0;
  z-index: 1;
  color: #000000;
  background-color: rgb(255, 255, 255);
  font-weight: 500;
  width: 100%;
  height: 13%;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-size: 16px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
}

.logo-container {
  width: 100px;
  align-items: center;
  display: flex;
}

.text-links-container {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 10px;
  font-family: monospace;
}

.navigation-links a {
  margin-right: 30px;
}

.details-container {
  border: 1px solid rgb(255, 255, 255);
  padding: 50px 100px;
  display: flex;
  justify-content: center;
}

.details-div {
  width: 500px;
  border-right: 4px solid #000000;
  padding-right: 10px;
}

.details-container img {
  width: 300px;
  height: 300px;
  margin-right: 20px;
}

.comic-details-div {
  padding-left: 20px;
  border-right: 4px solid #000000;
  padding-right: 20px;
}

.series-details-div {
  padding-left: 20px;
  padding-right: 20px;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-overlay img {
  width: 500px;
  height: 500px;
}

.App {
  background-color: #ffffff;
}

.input-search {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input-box {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  width: 30%;
  height: 20px;
  border: 2px solid rgb(0, 0, 0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-style: italic;
  transform: skew(-15deg);
  margin-left: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons-box {
  width: 150px;
  height: 40px;
  background-color: #000000;
  color: #ffffff;
  margin: 10px;
  border-radius: 10px;
  border: none;
  font-family: "Bangers", cursive !important;
  font-size: 15px;
  cursor: pointer;
  transition: transform 0.3s;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.buttons-box:hover {
  background-color: black;
  color: #ffffff;
  transform: scale(1.1);
}

.search-title {
  font-size: 18px;
}

.suggestion-main {
  background-color: hsl(0, 0%, 100%);
  display:flex;
  justify-content: center;
  align-items: center;
}

.comment-box {
  background-color: rgba(255, 255, 255, 0.6);
  display: block;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding-left: 20px;
  border-left: 1px solid black;
}

.form-container {
  width: 300px;
  height: 600px;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  color: #000000;
  padding-right: 20px;
}